.projects-section {
  margin-bottom: 10rem;
}

.projects-grid {
  display: flex;
  gap: 1.5rem;
  /* O overflow-x vai permitir rolar os blocos vermelhos para o lado se a tela for menor */
  overflow-x: auto; 
  padding-bottom: 1rem;
}

.project-placeholder {
  flex: 0 0 auto;
  width: 280px;
  height: 380px;
  border-radius: 20px;
}

.red-block {
  background-color: #ff4444;
}